@import url("./base/variables.css");
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-secondary);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
button{
    border: transparent;
    outline: transparent;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 24px;
}
