*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
.p__text {
  width: 335;
  height: 96;
  opacity: 1;
  font-weight: 500px;
  font-size: 36px;
  line-height: 48px;
  color: #12161d;
}

.p__text-one {
  width: 335;
  height: 130;
  opacity: 1;
  font-weight: 400px;
  font-size: 18px;
  line-height: 26px;
  color: #61656e;
}

.site__img-one {
  width: 143.95px;
  height: 167.5px;
}

@media (max-width: 375px) {
  .p__text {
    width: 335;
    height: 96;
    margin-top: 90px;
    opacity: 1;
    font-weight: 500px;
    font-size: 36px;
    line-height: 48px;
    color: #12161d;
    background-color: yellow;
  }

  .p__text-one {
    width: 335;
    height: 130;
    opacity: 1;
    font-weight: 400px;
    font-size: 18px;
    line-height: 26px;
    color: #61656e;
  }

  .site__img-one {
    width: 143.95px;
    height: 167.5px;
  }
  body {
    border-color: lime !important;
  }
} */
